<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Shop Name</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="shortcut icon" href="./img/bone.png" type="image/x-icon" />
  </head>
  <body>
    <div id="app">
      <header>
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../img/petshop_logo.png" alt="petshop_logo" id="logo"></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Inicio</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Farmacia</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contacto</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main class="min-vh-50">
        
        <div class="backgroundImage">
          <section>
            <div id="carouselExampleCaptions" class="carousel slide">
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="../img/group-portrait-adorable-puppies.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>
                      Some representative placeholder content for the first slide.
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    src="../img/tran-mau-tri-tam--81lVsfM4gQ-unsplash.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>
                      Some representative placeholder content for the second
                      slide.
                    </p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="..." class="d-block w-100" alt="..." />
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>
                      Some representative placeholder content for the third slide.
                    </p>
                  </div>
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </section>
          <div class="m-4">
            <div class="d-flex justify-content-between align-items-center mt-2">
              <div class="dropdown col-4">
                <button
                    class="btn btn-secondary dropdown-toggle w-100"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    Filtro por precios
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">
                      <input type="radio" class="btn-check w-100" name="options-base" id="hasta500" value="500" autocomplete="off" v-model="valorSeleccionado">
                      <label class="btn" for="hasta500">Hasta $500</label>
                    </li>
                    <li class="dropdown-item">
                      <input type="radio" class="btn-check w-100" name="options-base" id="hasta1500" value="1500" autocomplete="off" v-model="valorSeleccionado">
                      <label class="btn" for="hasta1500">Hasta $1500</label>
                    </li>
                    <li class="dropdown-item">
                      <input type="radio" class="btn-check w-100" name="options-base" id="hasta3000" value="3000" autocomplete="off" v-model="valorSeleccionado">
                      <label class="btn" for="hasta3000">Hasta $3000</label>
                    </li>
                </ul>
            </div>
      
              <div class="col-4">
                <input
                  class="form-control"
                  type="text"
                  aria-label="readonly input example"
                />
              </div>
            </div>
            <section class="d-flex flex-wrap gap-5 justify-content-center">
              <div class="cardsContainer cartas align-items-center" v-for="producto of productosJugueteria">
                <div class="card cardHeight" style="width: 18rem">
                  <img :src="producto.imagen" class="card-img-top imgHeight p-3" :alt="producto.producto" />
                  <div class="card-body  d-flex flex-column justify-content-center align-items-center">
                    <div class="alturaTexto">
                      <h5 class="card-title cardFont">{{producto.producto}}</h5>
                    </div>
                    <p class="fs-4">${{producto.precio}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </section>
          </div>
          </div>
          
        
      </main>
      <footer
        id="footer"
        class="d-flex justify-content-between align-items-center p-3"
      >
        <div class="d-flex gap-3 imgfooter">
          <img
            class="footerpics"
            src="../img/facebook.png"
            alt="Facebook picture"
          />
          <img
            class="footerpics"
            src="../img/instagram.png"
            alt="Instagram picture"
          />
          <img
            class="footerpics"
            src="../img/whatsapp.png"
            alt="Whatsapp picture"
          />
        </div>
        <a class="dflex" href="#">
          <i class="bi bi-envelope-at envelope"></i>
        </a>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../JS/farmacia.js"></script>
  </body>
</html>
